<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="card">
    <div class="header">
      <h4 class="title">Ajouter un organisme</h4>
    </div>
    <div class="content">
      <form>
        <div class="form-group">
          <label>Organisme</label>
          <ng-select [items]="organismes"
                     bindLabel="label"
                     bindValue="id"
                     [(ngModel)]="reservation.organisme_id"
                     name="organisme">
          </ng-select>
        </div>

        <div class="form-group">
          <label>Date et heure de début</label>
          <input type="datetime-local" class="form-control border-input"
                 [(ngModel)]="reservation.start_date" name="reservationDebut">
        </div>

        <div class="form-group">
          <label>Date et heure de fin</label>
          <input type="datetime-local" class="form-control border-input"
                 [(ngModel)]="reservation.end_date" name="reservationFin">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control border-input" placeholder="Description de la réservation"
                    [(ngModel)]="reservation.description" name="reservationDescription"></textarea>
        </div>
        <div class="form-group">
          <label>Autres besoins</label>-
          <input type="text" class="form-control border-input" placeholder="Autres besoins"
                 [(ngModel)]="reservation.other_needs" name="reservationNeeds">
        </div>
        <div class="form-group">
          <label>Type</label>
          <ng-select [items]="salles"
                     bindLabel="number"
                     bindValue="id"
                     [(ngModel)]="reservation.salle_id"
                     name="type_organisme" >
          </ng-select>
        </div>

        <!--        <div style="text-align: center" class="form-group">-->
<!--          <button class="btn btn-success" [disabled]="invalidForm()" (click)="saveOrganisme()">Enregistrer</button>-->
<!--        </div>-->
      </form>
    </div>
  </div>
</div>
