<div class="container-fluid" *ngIf="!selectedBook">
  <h2>Books</h2>
  <div class="card" style="min-height: 120px">
    <div class="header">
      <h4 class="title col-sm-8">All Books</h4>
      <div class="col-sm-4" style="text-align: right">
        <button class="btn btn-success" routerLink="/add-classroom">Add a Classroom</button>
      </div>
    </div>
    <div class="content" style="margin-top: 50px">
      <table id="example" class="display table table-striped" style="width:100%">
        <thead>
        <tr>
          <th>#</th>
          <th>Room N°</th>
          <th>Capacity</th>
          <th>Number of Computers</th>
          <th>Has Datashow</th>
        </tr>
        </thead>
        <tbody>
        <td>#</td>
        <td>Room N°</td>
        <td>Capacity</td>
        <td>Number of Computers</td>
        <td>Has Datashow</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
