<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="card">
    <div class="header">
      <h4 class="title">Add a Classroom</h4>
    </div>
    <div class="content">
      <form>
        <div class="form-group">
          <label>Classroom N°</label>
          <input type="number" class="form-control border-input" placeholder="Classroom N°"
                 name="number">
        </div>
        <!--<div *ngIf="currentFileUpload" class="progress">-->
          <!--<div class="progress-bar progress-bar-info progress-bar-striped"-->
               <!--role="progressbar" attr.aria-valuenow="{{progress.percentage}}"-->
               <!--aria-valuemin="0" aria-valuemax="100"-->
               <!--[ngStyle]="{width:progress.percentage+'%'}">-->
            <!--{{progress.percentage}}%</div>-->
        <!--</div>-->

        <!--<label class="btn btn-default">-->
          <!--<input type="file" (change)="selectFile($event)">-->
        <!--</label>-->

        <!--<button class="btn btn-success" [disabled]="!selectedFiles"-->
                <!--(click)="upload()">Upload</button>-->
        <div style="text-align: center" class="form-group">
          <button class = "btn btn-success">Save Classroom</button>
        </div>
      </form>
    </div>
  </div>
</div>
