<div class="container-fluid">
  <h2>Genres</h2>
  <div class="card" style="min-height: 120px">
    <div class="header">
      <h4 class="title">Add an Genre</h4>
    </div>
    <div class="content">
      <form>
        <div class="form-group col-md-10">
          <input class="form-control" type="text" placeholder="Genre's Name" [(ngModel)]="genre.label" name="name">
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-success" (click)="addGenre()" [disabled]="!genre.label||!genre.label.length">Add
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card" style="min-height: 120px">
    <div class="header">
      <h4 class="title">All Genres</h4>
    </div>
    <div class="content">
      <table id="example" class="display table table-striped" style="width:100%">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let g of genres">
          <td>{{g.id}}</td>
          <td>{{g.label}}</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
