<div class="container-fluid">
  <h2>Reservations</h2>
  <div class="card" style="min-height: 120px">
    <div class="header">
      <h4 class="title col-sm-8">Tous vos réservations</h4>
      <div class="col-sm-4" style="text-align: right">
        <button class="btn btn-success" routerLink="/add-reservation">Ajouter une reservation</button>
      </div>
    </div>
    <div class="content" style="margin-top: 50px">
      <table id="rooms-table" class="display table table-striped rooms-table" style="width:100%; text-align: left ">
        <thead>
        <tr>
          <th>#</th>
          <th>Salle</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Organime</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations; let i=index">
          <td>{{reservation.id}}</td>
          <td>{{reservation.salle.number}}</td>
          <td>{{reservation.start_date}}</td>
          <td>{{reservation.end_date}}</td>
          <td>{{reservation.organisme.label}}</td>
          <td>
<!--            <button class="ti-pencil btn btn-info" style="margin-right: 10px;" (click)=""></button>-->
            <button class="ti-trash btn btn-danger" (click)="deleteReservation(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
