<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="card">
    <div class="header">
      <h4 class="title">Add a Book</h4>
    </div>
    <div class="content">
      <form>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control border-input" placeholder="Title" [(ngModel)]="book.title"
                 name="title">
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="number" class="form-control border-input" placeholder="Price" [(ngModel)]="book.price"
                 name="price">
        </div>
        <div class="form-group">
          <label>Synopsis</label>
          <textarea type="number" class="form-control border-input" placeholder="Synopsis" [(ngModel)]="book.synopsis"
                    name="synopsis"></textarea>
        </div>
        <div class="form-group">
          <label>Genre</label>
          <select class="form-control border-input" [(ngModel)]="book.genre" name="genre">
            <option [ngValue]="genre" *ngFor="let genre of genres">{{genre.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Author</label>
          <select class="form-control border-input" [(ngModel)]="book.author" name="author">
            <option [ngValue]="author" *ngFor="let author of authors">{{author.name}}</option>
          </select>
        </div>

        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
               role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>

        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)">
        </label>

        <button class="btn btn-success" [disabled]="!selectedFiles"
                (click)="upload()">Upload</button>
        <div style="text-align: center" class="form-group">
          <button class = "btn btn-success" (click)="saveBook()" [disabled]="!book.isValid()">Save Book</button>
        </div>
      </form>
    </div>
  </div>
</div>
