/* You can add global styles to this file, and also import other style files */

.paging_simple_numbers{
  text-align: right;
}

.dataTables_filter{
  text-align: right;
}
#example_filter>label{
  text-align: left;
}
